body {
    font-family: sans-serif;
    text-align: center;
}

#website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    grid-template-areas: 
        "cabecera cabecera cabecera cabecera cabecera "
        "menu menu menu menu menu "
        "lateral contenido contenido contenido contenido"
        "pie pie pie pie pie ";

    width: 75%;
    height: 100vh;
    margin: 0px auto;
    border: solid 1px lightgray;
}

#website *{
    margin: 0;
    padding: 0;
 }

#cabecera{
    grid-area: cabecera;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    border: solid 1px lightgray;
}

#menu{       
    grid-area: menu;
    color: black;    
    line-height: 70px;
}

#menu ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}


#contenido{
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;    
    grid-area: contenido;
}

#contenido article{
    background: rgb(247, 248, 248);
    border: solid 1px lightgray;
}

#lateral{
    grid-area: lateral;
    color: black;
    border: solid 1px lightgray;
}

#pie-pagina{
    grid-area: pie;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: black;
}

