body {
    font-family: sans-serif;
    text-align: center;
}

#website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;

    width: 75%;
    height: 100vh;
    margin: 0px auto;
}

#website *{
    margin: 0;
    padding: 0;
 }

#cabecera{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / 6;

    background: rgb(213, 213, 218);
    color: black;
    margin: 10px;
}

#menu{
    grid-column: 1 / 6;   
    background: rgb(213, 213, 243);
    color: black;
    margin: 10px;
}

#menu ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}


#contenido{
    grid-column: 1 / 5;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

    margin: 10px;
    background: rgb(189, 234, 227);
}

#contenido article{
    background: rgb(163, 228, 211);
    border: solid 1px #555;
}

#lateral{
    grid-column: 5 / 6;

    margin: 10px;
    background: rgb(166, 238, 202);
    color: black;
}

#pie-pagina{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / 6;

    margin: 10px;
    background: rgb(187, 187, 225);
    color: black;
}

