body {
    margin: 0;
}


/* CONTAINER */
.container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    padding: 5px;
    margin: 5px;
    width: 450px;
    height: 300px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 3px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1)
}

h1 {
    font-size: 3em;
    font-family: arial;
    width: 400px;
    border-bottom: 1px solid gray;
    text-align: center;
}